name: Build and Push Docker Image

on:
  workflow_dispatch:

env:
  IMAGE_OWNER: szcq
  IMAGE_NAME: 2fauth-proxy
  IMAGE_VERSION: 1.0.0

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.IMAGE_OWNER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push 2fauth-proxy image
        uses: docker/build-push-action@v5
        with:
          context: ./2fauth-proxy
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.IMAGE_OWNER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
            ${{ env.IMAGE_OWNER }}/${{ env.IMAGE_NAME }}:latest
